bioProjectIds/masterInputOracle2.tsv
bioProjectIds/masterInputOracle.tsv
bioProjectIds/oracleColumns/
bioProjectIds/ngramedScored/
bioProjectIds/unlabeledColumns/
bioSamples/allJsons/
bioSamples/jsons/